<h1>Fiche joueur </h1>

Le joueur '{{pseudo}}' fait partie de l'équipe </br>
<span ng-if="!done">Chargement...</span>
<span ng-if="erreur">Erreur !</span>
<span ng-if="done && !erreur">
  <a ng-href="#/equipes/{{joueur.equipe}}">
    {{joueur.equipe}}
  </a> et possède {{joueur.fortune}} boyards. </br>
  Sa cote est de : {{joueur.cote}} </br>
  <span ng-if="duree_avant_match != null">Son prochain match est dans ~{{duree_avant_match}} min. </span>
  <span ng-if="duree_avant_match == null">{{pseudo}} n'a plus de match à jouer.</span>  
</span>
