<h1>Fiche équipe </h1>

L'équipe '{{nom_equipe}}' est constituée de : </br>
<span ng-if="!done">Chargement...</span>
<span ng-if="erreur">Erreur !</span>
<span ng-if="done && !erreur">
    <ul>
      <li ng-repeat="joueur in equipe.joueurs">
        <a ng-href="#/joueurs/{{joueur}}">{{joueur}}</a> 
      </li>
    </ul> <br>
 Le prochain match est contre <a ng-href="#/equipes/{{prochain_match.adversaire}}">{{prochain_match.adversaire}}</a>  à {{prochain_match.horaire}} (heure approximative).</span>
