<h1>Ma fiche </h1>

Pseudo : {{profile.pseudo()}} </br>
Fortune : {{profile.getFortune()}} boyards </br>
Équipe : {{profile.equipe()}} </br>
Cote: {{profile.cote()}} </br>


	<div>
		Prochain match contre <a ng-href="#/equipes/{{prochain_match.equipes[num_equipe]}}">{{prochain_match.equipes[num_equipe]}}</a> dans <span>{{duree_avant_match}} min </span><span>({{prochain_match.horaire_prevu}})</span>
	</div>


<md-button class="md-raised md-primary" ng-show="!changerMDP" ng-click="changerMDP = true;">Modifier mot de passe</md-button>
<form ng-submit="changeMDP()" role="form" ng-show="changerMDP">
            <label>Nouveau mot de passe</label>
            <input type="password" ng-model="loginForm.password_1" ng-keypress="MDP_differents=false;" required />
</br>
            <label>Confirmation nouveau mot de passe</label>
            <input type="password" ng-model="loginForm.password_2" ng-keypress="MDP_differents=false;" required />
</br>
            <md-button class="md-raised md-primary" type="submit">Modifier</md-button> 
           	<span ng-show=MDP_differents> Les mots de passe ne correspondent pas.</span>	
      <form>
