<h1>Matchs </h1>


<div class="suit_scroll">{{fortune}} boyards </div>
<span ng-if="!done">Chargement...</span>
<span ng-if="erreur">Erreur !</span>
<span ng-if="done && !erreur">
<div>
	<div>
		<span ng-if="pas_de_match_en_cours">Il n'y a pas de match en cours.</span>
		<span ng-if="!pas_de_match_en_cours">Le match en cours oppose 
			<a ng-href="#/equipes/{{match_en_cours.equipes[0]}}">{{match_en_cours.equipes[0]}}</a> à 
			<a ng-href="#/equipes/{{match_en_cours.equipes[1]}}">{{match_en_cours.equipes[1]}}</a> 
			(cotes : {{cotes_en_cours_formatees}}).
		</span>

	<div>
		<span ng-if="prochain_match != null">
			Le prochain match opposera 
			<a ng-href="#/equipes/{{prochain_match.equipes[0]}}">{{prochain_match.equipes[0]}}</a> à 
			<a ng-href="#/equipes/{{prochain_match.equipes[1]}}">{{prochain_match.equipes[1]}}</a> 
			(cotes : {{cotes_prochain_formatees}}). L'horaire prévu est {{prochain_match.horaire_prevu}}.
		</span>
	</div>
</div>

<div>
Matchs à venir :
    <ul>
      <li ng-repeat="match in liste_matchs">
		        <a ng-href="#/equipes/{{match.equipes[0]}}">{{match.equipes[0]}}</a>({{match.paris[0]}}) 
		        	<md-button class="md-primary md-raised md-small" ng-class="{'btn-needs-update': clicked[2*$index]}" ng-click="clicked[2 * $index] = true; pari_plus_un(match, 0, 2*$index)">+1</md-button> vs. 
		        <a ng-href="#/equipes/{{match.equipes[1]}}">{{match.equipes[1]}}</a>({{match.paris[1]}}) 
		        	<md-button class="md-primary md-raised md-small" ng-class="{'btn-needs-update': clicked[2*$index+1]}" ng-click="clicked[2 * $index +1] = true; pari_plus_un(match, 1, 2*$index +1)">+1</md-button> 
		    	à {{match.horaire_prevu}}. 
		    	Cotes : {{format_cotes_match(match)}}. 
      </li>
    </ul> 
    <br>
</div>
