<h1>Matchs </h1>



<span ng-if="!done">Chargement...</span>
<span ng-if="erreur">Erreur !</span>
<span ng-if="done && !erreur">
<div>
<div><span ng-if="pas_de_match_en_cours">Il n'y a pas de match en cours.</span><span ng-if="!pas_de_match_en_cours">Le match en cours oppose <a ng-href="#/equipes/{{match_en_cours.equipes[0]}}">{{match_en_cours.equipes[0]}}</a> à <a ng-href="#/equipes/{{match_en_cours.equipes[1]}}">{{match_en_cours.equipes[1]}}</a> (cotes : {{cotes_en_cours_formatees}}).</div></span>

<div>Le prochain match opposera <a ng-href="#/equipes/{{prochain_match.equipes[0]}}">{{prochain_match.equipes[0]}}</a> à <a ng-href="#/equipes/{{prochain_match.equipes[1]}}">{{prochain_match.equipes[1]}}</a> (cotes : {{cotes_prochain_formatees}}). L'horaire prévu est {{prochain_match.horaire_prevu}}.</div>
</div>
Programme des matchs :
    <ul>
      <li ng-repeat="match in liste_matchs">
        <a ng-href="#/equipes/{{match.equipes[0]}}">{{match.equipes[0]}}</a>({{match.paris[0]}}) <md-button class="md-primary md-raised md-small" ng-click="pari_plus_un(match, 0)">+1</md-button> vs. <a ng-href="#/equipes/{{match.equipes[1]}}">{{match.equipes[1]}}</a>({{match.paris[1]}}) <md-button class="md-primary md-raised md-small" ng-click="pari_plus_un(match, 1)">+1</md-button> à {{match.horaire_prevu}}. Cotes : {{format_cotes_match(match)}}. 
      </li>
    </ul> <br></span>
