<h1>Matchs </h1>


<div class="suit_scroll">{{fortune}} boyards </div>
<span ng-if="!done">Chargement...</span>
<span ng-if="erreur">Erreur !</span>
<span ng-if="done && !erreur">
<div>
	<div>
		<span ng-if="pas_de_match_en_cours">Il n'y a pas de match en cours.</span>
		<span ng-if="!pas_de_match_en_cours">
			<div class="match match_en_cours">
				<div class="horaire"> <span class="ecrit_verticalement"> <em> En cours... </em> </span></div>	      
				<div class="equipe eq0"> 
					<a ng-href="#/equipes/{{match_en_cours.equipes[0]}}">{{match_en_cours.equipes[0]}}</a> (<span ng-click="affiche_parieurs(match_en_cours, 0)">{{match_en_cours.paris[0]}}</span>)
				</div>
				<div class="versus"> 
						<div id="score_eq0">
							<div class="score_label"> score </div>
							<span class="score_chiffre">{{match_en_cours.score[0]}}</span> 
						</div>
						vs.
						<div id="score_eq1">
							<div class="score_label"> score</div>
							<span class="score_chiffre">{{match_en_cours.score[1]}}</span> 
						</div>
				</div>

				<div class="equipe eq1"> 
					<a ng-href="#/equipes/{{match_en_cours.equipes[1]}}">{{match_en_cours.equipes[1]}}</a> (<span ng-click="affiche_parieurs(match_en_cours, 1)">{{match_en_cours.paris[1]}}</span>)
				</div>
			</div>
		</span>
<!-- 		<div>
			<span ng-if="prochain_match != null"> 
				Le prochain match opposera
				<div class="match prochain_match">
					<div class="equipe eq0">
						<a ng-href="#/equipes/{{prochain_match.equipes[0]}}">{{prochain_match.equipes[0]}}</a>
					</div>
					<div class="versus"> 
						<span id="score_eq0">--</span> 
						vs. 
						<span id="score_eq1">--</span> 
					</div>
					<div class="equipe eq1">
						<a ng-href="#/equipes/{{prochain_match.equipes[1]}}">{{prochain_match.equipes[1]}}</a> 
					</div>	
					(cotes : {{cotes_prochain_formatees}}). L'horaire prévu est {{prochain_match.horaire_prevu}}.
				</div>
			</span>
		</div>
 --></div>

<div>
    <ul id="ul_prochains_matchs">
      <li ng-repeat="match in liste_matchs">
      	<div class="match match_apres_prochain">	
      		<div class="horaire"> <span class="ecrit_verticalement">Prévu à {{match.horaire_prevu}} </span></div>	        
      		<div class="equipe eq0">
		        <a ng-href="#/equipes/{{match.equipes[0]}}">{{match.equipes[0]}}</a> ({{match.paris[0]}}) 
		        	<md-button class="md-primary md-raised md-small" ng-class="{'btn-needs-update': clicked[2*$index]}" ng-click="clicked[2 * $index] = true; pari_plus_un(match, 0, 2*$index)">+1</md-button> 
		    </div>
			<div class="versus"> 
					<div class="cote cote_eq0">
						<div class="cote_label"> cote </div>
						<span class="cote_chiffre">{{format_cotes_match(match)[0]}}</span> 
					</div>
					vs.
					<div class="cote cote_eq1">
						<div class="cote_label"> cote </div>
						<span class="cote_chiffre">{{format_cotes_match(match)[1]}}</span> 
					</div>
			</div>
			<div class="equipe eq1">
		        <a ng-href="#/equipes/{{match.equipes[1]}}">{{match.equipes[1]}}</a> ({{match.paris[1]}}) 
		        	<md-button class="md-primary md-raised md-small" ng-class="{'btn-needs-update': clicked[2*$index+1]}" ng-click="clicked[2 * $index +1] = true; pari_plus_un(match, 1, 2*$index +1)">+1</md-button> 
        	</div>
		</div>
      </li>
    </ul> 

</div>
