.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

.md-button.md-small { /*Rend petits les boutons pour les paris*/
	min-width: 1%;
}

.suit_scroll {
	position:fixed; 
	bottom:0%; 
	background-color: #e5b63d;
	padding: 7px 3px 7px 3px;
	z-index:10;
}

.btn-needs-update {
	background-color: rgba(255, 121, 121, 0.96) !important;
}

.match_en_cours .versus, .match_en_cours .equipe, .match_en_cours .horaire{
	background-color: #18ba5b;
}

/*.prochain_match .versus, .prochain_match .equipe{
	background-color: #4b86e5;
}
*/
.match_apres_prochain .versus, .match_apres_prochain .equipe, .match_apres_prochain .horaire{
	background-color: #c5cddb; 
}

.match {
	position: relative;
}




.horaire {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 2em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.ecrit_verticalement {
	position: absolute;
	height: 1em;
	width: 10em;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	transform: translateX(-40%) translateY(150%) rotate(-90deg);
}

.equipe {
	max-width: 500px;
	margin-left: 2em;
}

.equipe.eq0	{
	text-align: left;
	border-top-right-radius: 10px;
	padding: 1em 3em 0.5em 1em;
}

.equipe.eq1	{
	text-align: right;
	border-bottom-right-radius: 10px;
	padding: 0.5em 1em 1em 3em;
	margin-bottom: .5em;
}

.versus {
	position: relative;
	max-width: 700px;
	margin-left: 2em;
	padding: 1em 1em;
	text-align:center;
	background: url('img/explosion_versus.svg') no-repeat center;
  	background-size: contain;
}


#score_eq0, #score_eq1 {
	font-size: 2em;
}

#score_eq0 {
	position: absolute;
	top: 0%;
	left: 10%;
}

#score_eq1 {
	position: absolute;
	top: 0%;
	right: 10%;
}

.score_label {
	font-size: 33%;
}

#ul_prochains_matchs {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

#ul_prochains_matchs li{
	margin-left: 0;
}

.versus>.cote_eq0, .versus>.cote_eq1 {
	font-size: 2em;
}

.cote_eq0 {
	position: absolute;
	top: 0%;
	left: 10%;
}

.cote_eq1 {
	position: absolute;
	top: 0%;
	right: 10%;
}

.cote_label {
	font-size: 33%;
}